body {
    margin: 0;
    padding: 0;
    font: normal 1em "Helvetica Neue",sans-serif;
    color: whitesmoke;
}

body.home {
    background-image: url("../images/homeBackground.png");
    background-size: 100%;
    background-repeat: vertical;
}

body.projects {
    background-image: url("../images/imax.png");
}

a {
    text-decoration: none;
}

.main-block {
    background-color: black;
    opacity: 0.9;
    display: block;
    margin: 3em;
    padding: 0.5em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.main-block .introduction {
    margin: 0 1em 1em 1em;
    padding: 0 1em 1em 1em;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: black;
    overflow: hidden;
}

.navbar a {
    padding: 1em 2em;
    font-weight: bold;
    list-style-type: none;
    color: whitesmoke
}

.navbar a, a:visited {
    color: whitesmoke;
    font-weight: bolder;
    font-size: large;
}


.navbar a:hover {
    color: rgb(239, 147, 147);
    border-bottom: 0.3em solid rgb(239, 147, 147);
}

.navbar a.active {
    color: lightcoral;
    border-bottom: 0.3em solid lightcoral;
}

.file a {
    background-color: whitesmoke;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    color: black;
    padding: 0.6em;
    margin: 0.1em;
}

.file a:hover {
    color: coral;
}


